body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

nav {
    background: #111;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.login-box {
    width: 350px;
    margin: 120px auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: #fff;
    border: none;
}

.tabla {
  border-collapse: collapse;
  width: 100%;
  background: white;
}

.tabla th, .tabla td {
  border: 1px solid #ccc;
  padding: 10px;
}

.btn {
  background: #006cff;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.form-box {
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.form-box input, .form-box button {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
}

.form-box button {
  background: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}


.multi-select {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    max-height: 180px;
    overflow-y: auto;
}

.multi-select label {
    display: block;
    padding: 4px 0;
}

.btn-small {
    padding: 6px 10px;
    font-size: 14px;
    background: #444;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.btn-aceptar {
    padding: 6px 10px;
    background: #28a745;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.btn-rechazar {
    padding: 6px 10px;
    background: #dc3545;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.btn-aceptar:hover, .btn-rechazar:hover {
    opacity: 0.8;
}
